extends layout

block extraheader
    script.
        $(document).ready(function () {

            // $.fn.editable.defaults.mode = 'inline';

            getHumanDate($("#select-cancellation-date").val(), function(res) {
                $("#select-cancellation-date").attr("data-human-date", res);
            });

            // event handlers
            $("#select-category").change(function() {
                //console.log("category selected: " + el);
                getContractors($("#select-contractor"));
            });

            $("#select-cancellation-date").change(function() {
                getHumanDate($(this).val(),
                    function(res) {
                        $(this).attr("data-human-date", res);
                    });
            });

            $("#preview-and-render").submit(function(ev) {
                var vars = {
                    contractor: $("#select-contractor").val(),
                    category: $("#select-category").val(),
                    cancellationDate: $("#select-cancellation-date").attr("data-human-date")
                };

                console.log(vars);
                renderPDF(vars);
            });

        });


block content
    div(class="col-md-4")
        form(id="preview-and-render", method="post")
            div(class="form-group")
                if categories
                    select(id="select-category", class="form-control",
                        name="category")
                        each category in categories
                            option= category

            div(hidden="hidden", class="form-group")
                select(id="select-contractor", class="form-control",
                    name="contractor")

            div(class="form-group")
                input(type="date", id="select-cancellation-date",
                    value="#{last_of_month}",
                    placeholder="Kündigungsdatum",
                    name="cancellation-date")

            div(class="form-group")
                button(class="btn btn-danger" type="submit").
                    Render

    if render
        div(class="col-md-4" id="render")
    else
        div(class="col-md-4" hidden="hidden" id="render")
