extends layout

block extraheader
    script.
        $(document).ready(function () {

            // $.fn.editable.defaults.mode = 'inline';

            // pre-fill
            getHumanDate($("#select-cancellation-date").val(), function(res) {
                $("#select-cancellation-date").attr("data-human-date", res);
            });

            // event handlers
            $("#select-category").change(function() {
                //console.log("category selected: " + el);
                getContractors($("#select-contractor"));
            });

            $("#select-contractor").change(function() {
                if (!$("#preview").is(":visible")) {
                    $("#preview").removeAttr("hidden");
                    getPreview($("#preview"));
                }
            });

            $("#select-cancellation-date").change(function() {
                getHumanDate($(this).val(),
                    function(res) {
                        $(this).attr("data-human-date", res);
                    });
            });

            $("#preview-and-render").submit(function(ev) {
                var vars = {
                    contractor: $("#select-contractor").val(),
                    category: $("#select-category").val(),
                    cancellationDate: $("#select-cancellation-date").attr("data-human-date")
                };

                console.log(vars);
                renderPDF(vars);
            });

        });


block content
    div(class="col-md-4")

        h3 Kündigungsmanager

        form(id="preview-and-render", method="post")

            div(class="form-group")
                input(type="text", value="#{customer_reference}",
                    placeholder="Kunden-/Vertragsnr.",
                    class="form-control")

            if preview
                div(id="preview", class="form-group")
                    textarea(class="form-control", rows="10", wrap="wrap", id="text-preview")
            else
                div(hidden="hidden" id="preview", class="form-group")
                    textarea(class="form-control", rows="10", wrap="wrap" id="text-preview")

            div(class="form-group")
                if categories
                    select(id="select-category", class="form-control",
                        name="category")
                        each category in categories
                            option= category

            div(hidden="hidden", class="form-group")
                select(id="select-contractor", class="form-control",
                    name="contractor")

            div(class="form-group")
                input(type="date", id="select-cancellation-date",
                    value="#{last_of_month}",
                    placeholder="Kündigungsdatum",
                    name="cancellation-date",
                    class="form-control")

            div(class="form-group")
                div(class="btn-toolbar")
                    button(class="btn btn-default pull-left", type="submit").
                        Preview
                    button(class="btn btn-warning pull-right", type="submit").
                        Kündigung generieren


    if render
        div(class="col-md-4" id="render")
    else
        div(class="col-md-4" hidden="hidden" id="render")
