extends layout

block extraheader
    script.
        $(document).ready(function () {

            // if (#{preview}) {
            //     $("#preview").removeAttr("hidden");
            // }

            // event handlers
            $("#select-category").change(function() {
                //console.log("category selected: " + el);
                getContractors($("#select-contractor"));
            });

            $("#btn-preview").click(function(ev) {
                ev.preventDefault();

                if (!$("#preview").is(":visible")) {
                    $("#preview").removeAttr("hidden");
                }

                var vars = {
                    category: $("#select-category").val(),
                    contractor: $("#select-contractor").val(),
                    cancellationDate: $("#select-cancellation-date").val(),
                    customerReference: $("#customer-reference").val()
                };

                preview(vars, function (res) {
                    var textarea = $("#preview").find("textarea");
                    textarea.attr("rows", 1.5 * res.textData.split('\n').length);
                    textarea.text(res.textData);
                });
            });

            $("#btn-render").click(function(ev) {
                ev.preventDefault();

                var vars = {
                    category: $("#select-category").val(),
                    contractor: $("#select-contractor").val(),
                    cancellationDate: $("#select-cancellation-date").val(),
                    customerReference: $("#customer-reference").val()
                };

                render(vars, function (res) {
                    renderPDF(res.pdfData);
                });
            });
        });


block content
    div(class="col-md-4")

        h3 Kündigungsmanager

        form(id="preview-and-render", method="post")

            div(class="form-group")
                input(type="text", value="#{customerReference}",
                    placeholder="Kunden-/Vertragsnr.",
                    class="form-control",
                    id="customer-reference")

            div(hidden="hidden" id="preview", class="form-group")
                textarea(class="form-control", rows="10", wrap="wrap"
                    id="text-preview", spellcheck="false")

            div(class="form-group")
                if categories
                    select(id="select-category", class="form-control",
                        name="category")
                        each category in categories
                            option= category

            div(hidden="hidden", class="form-group")
                select(id="select-contractor", class="form-control",
                    name="contractor")

            div(class="form-group")
                input(type="date", id="select-cancellation-date",
                    value="#{lastOfMonth}",
                    placeholder="Kündigungsdatum",
                    name="cancellation-date",
                    class="form-control")

            div(class="form-group")
                div(class="btn-toolbar")
                    button(class="btn btn-default pull-left", type="submit",
                        id="btn-preview").
                        Preview
                    button(class="btn btn-warning pull-right", type="submit",
                        id="btn-render").
                        Kündigung generieren
