extends layout

block extraheader
    script.
        $(document).ready(function () {

            // event handlers
            $("#select-category").change(function() {
                //console.log("category selected: " + el);
                getContractors($("#select-contractor"));
                preparePreview();
            });

            $("#select-contractor").change(function() {
                preparePreview();
            });

            $("#select-cancellation-date").change(function() {
                preparePreview();
            });

            $("#btn-preview").click(function(ev) {
                ev.preventDefault();
                preparePreview();
            });

            $("#btn-render").click(function(ev) {
                ev.preventDefault();

                var vars = {
                    header: $("#preview-header").find("textarea").text(),
                    subject: $("#preview-subject").find("textarea").text(),
                    body: $("#preview-body").find("textarea").text()
                };

                render(vars, function (res) {
                    renderPDF(res);
                });
            });
        });


block content
    div(class="col-md-4")

        h3 K체ndigungsmanager

        form(id="preview-and-render", method="post")

            div(class="form-group")
                input(type="text", value="#{customerReference}",
                    placeholder="Kunden-/Vertragsnr.",
                    class="form-control",
                    id="customer-reference")

            div(hidden="hidden" id="preview-header", class="form-group preview")
                textarea(class="form-control", wrap="wrap"
                    spellcheck="false")

            div(hidden="hidden" id="preview-subject", class="form-group preview")
                textarea(class="form-control", wrap="wrap"
                    spellcheck="false")

            div(hidden="hidden" id="preview-body", class="form-group preview")
                textarea(class="form-control", wrap="wrap"
                    spellcheck="false")

            div(class="form-group")

                select(id="select-category", class="form-control",
                    name="category")
                    option Ausw채hlen...
                    if categories
                        each category in categories
                            option= category

            div(hidden="hidden", class="form-group")
                select(id="select-contractor", class="form-control",
                    name="contractor")

            div(class="form-group")
                input(type="date", id="select-cancellation-date",
                    value="#{lastOfMonth}",
                    placeholder="K체ndigungsdatum",
                    name="cancellation-date",
                    class="form-control")

            div(class="form-group")
                div(class="btn-toolbar")
                    button(class="btn btn-warning pull-right", type="submit",
                        id="btn-render").
                        K체ndigung generieren
