extends layout

block extraheader
    script.
        $(document).ready(function () {

            // event handlers
            $("#select-category").change(function() {
                //console.log("category selected: " + el);
                getContractors($("#select-contractor"));
            });

            $("#btn-preview").click(function() {
                if (!$("#preview").is(":visible")) {
                    $("#preview").removeAttr("hidden");
                }

                getPreview($("#preview"), {}, function (res) {
                    $("#preview").find("textarea").text(res.textData);
                });
            });

            $("#btn-render").click(function() {
                getPreview($("#preview"), {}, function (res) {
                    renderPDF(res.pdfData);
                });
            });
        });


block content
    div(class="col-md-4")

        h3 Kündigungsmanager

        form(id="preview-and-render", method="post")

            div(class="form-group")
                input(type="text", value="#{customer_reference}",
                    placeholder="Kunden-/Vertragsnr.",
                    class="form-control")

            div(hidden="hidden" id="preview", class="form-group")
                textarea(class="form-control", rows="10", wrap="wrap"
                    id="text-preview", spellcheck="false")

            div(class="form-group")
                if categories
                    select(id="select-category", class="form-control",
                        name="category")
                        each category in categories
                            option= category

            div(hidden="hidden", class="form-group")
                select(id="select-contractor", class="form-control",
                    name="contractor")

            div(class="form-group")
                input(type="date", id="select-cancellation-date",
                    value="#{last_of_month}",
                    placeholder="Kündigungsdatum",
                    name="cancellation-date",
                    class="form-control")

            div(class="form-group")
                div(class="btn-toolbar")
                    button(class="btn btn-default pull-left", type="submit",
                        id="btn-preview").
                        Preview
                    button(class="btn btn-warning pull-right", type="submit",
                        id="btn-render").
                        Kündigung generieren
